body {
    background-color: blanchedalmond;
}

.nav {
    /* height: 30px; */
    width: 40px;
}


#bi bi-arrow-through-heart-fill{
    width: auto;
    height: auto;
}

h1 {
    color: cadetblue;
    text-align: center;
    border-color: red;
    border-style: double;
    left: 0;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}